---
import Button from "../widgets/Button.astro";
import Content from "../../content/partials/support.md";
import Icon from "../widgets/Icon.astro";
import links from "../../utils/support";
---

<Content />

<ul class="not-styled">
  {
    links.map((link) => (
      <li>
        <Button
          link={true}
          href={link.url}
          fg={link.fg}
          bg={link.bg}
          className="link"
        >
          <Icon name={link.icon} aria-hidden="true" />
          {link.title}
        </Button>
      </li>
    ))
  }
</ul>

<style lang="scss">
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    * {
      margin: 0;
    }
  }

  .link {
    font-weight: 600;
    gap: 0.4em;

    svg {
      height: 1em;
      fill: currentColor;
    }
  }
</style>
