---
import "../styles/global.scss";

export type Props = {
  title?: string;
  image?: string | URL;
};

const { title, image } = Astro.props;

const pageTitle = `${title ? `${title} –` : ""} Vojtěch Perník`;
const pageImage = image || "/images/adwaita-l.png";
const pageImageUrl = new URL(pageImage, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <meta property="og:site_name" content="Vojtěch Perník" />
    <meta property="og:title" content={pageTitle} />
    <meta name="description" content="Simple apps built with passion" />

    <meta property="og:image" content={pageImageUrl.href} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@pervojcz" />

    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
